**/node_modules
/data/output
/data/tmp
/data/keys*.json
/data/*.list
sound.cache
data/STATE
data/QUEUE
/data/report.json
/data/bulk.json
/data/demos
/bin/thumbview/thumbview.html

!players.list
!/data/keys_example.json